@page
@model AuthenticationService.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h2>Login</h2>

<form method="post">

    Username:
    <input asp-for="C!.Username" /> <br/>
    Password:
    <input asp-for="C!.Password" type="password"/> <br/>
    <input type="submit" value="login" asp-for="C!.Provider"/>
    <a asp-page="/Register">Register</a>
    <br/>
    @Model.Message
    <br/>
    <input type="submit" value="github" asp-for="C!.Provider"/>
    <input type="submit" value="facebook" asp-for="C!.Provider"/>
    <input type="submit" value="google" asp-for="C!.Provider"/>
</form>